<div class="api">
    <div class="header">
        <div class="title">{{ summary }}</div>
    </div>
    <div class="description">
        <div class="description-area">
            <div class="api-description">
                <div class="method"><label class="bold">{{ method | upcase }}</label></div>
                <div class="url">
                    <label>{{ base_url }}</label>
                    <label class="gray">{{ path }}</label>
                </div>
            </div>
            {{ description }}
        </div>
    </div>
    <div class="content">
        <div class="request-categories">
            <div class="large">Parameters</div>
            <div class="content">
                {% if query_parameters %}
                    <div class="category">
                        <div class="title">Query</div>
                        <div class="parameters">
                            {{ query_parameters }}
                        </div>
                    </div>
                {% endif %}
                {% if body_parameters %}
                    <div class="category">
                        <div class="title">Body</div>
                        <div class="parameters">
                            {{ body_parameters }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="responses">
            <div class="large">Responses</div>
            <div class="content">
                {{ responses }}
            </div>
        </div>
    </div>
</div>
