<div id="{{ id }}" class="{{ tabs_class }}">
    <ul class="tabs_title">
        {% for tab in tabs %}
            <li data-tabs-content-id="{{ tab.id }}" class="tab-title{% if tab.first %}{{ active_class }}{% endif %}">{{ tab.title }}</li>
        {% endfor %}
    </ul>
    {{ contents }}
</div>
