<div class="block-row pagination" data-skip-search-index>
    {% if has_before? %}
        <div>
            <div class="block pagination">
                <a class="block-body" href="{{ before.url }}">
                    <div class="thumb prev"></div>
                    <div class="content right">
                        <div class="x-small">이전</div>
                        <div class="bold">{{ before.page.title }}</div>
                        <div class="small">{{ before.page.description }}</div>
                    </div>
                </a>
            </div>
        </div>
    {% endif %}
    {% if has_after? %}
        <div>
            <div class="block pagination">
                <a class="block-body" href="{{ after.url }}">
                    <div class="content">
                        <div class="x-small">다음</div>
                        <div class="bold">{{ after.page.title }}</div>
                        <div class="small">{{ after.page.description }}</div>
                    </div>
                    <div class="thumb next"></div>
                </a>
            </div>
        </div>
    {% endif %}
</div>
